@model ProjectS3.Controllers.MyEngines.UpdateOrderToUserModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Thông tin đơn hàng</title>
</head>
<body>
    <p>
        Xin chào @Model.hoten
    </p>
    <p>
        Đơn hàng của bạn đặt tại <a href="www.inthef.vn">inthef.vn</a> đã được cập nhật trạng thái: @Model.tinhtrang
        Mã đơn hàng của bạn là <a href="www.inthef.vn/">@Model.iddonhang</a>
    </p>

    <p>Cảm ơn quý khách</p>
    <p>Inthef.vn</p>
</body>
</html>  