@model IEnumerable<ProjectS3.Models.SanPham>

@{
}


<h1 class="title text-center" style="font-family: 'Galdeano',sans-serif,nanum gothic,dotum,verdana; font-size: 50px;">
    @ViewBag.Branch
</h1>
<br />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="features_items">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products" style="cursor:pointer;">
                            <a href="../../home/sanpham/@item.ID">
                                <div class="productinfo text-center">
                                    <img src="@item.linkanh" alt="">
                                    <h2>@string.Format("{0:n0}", item.DioGia) VNĐ</h2>
                                    <p>@item.Ten</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }          
        </div>

    </div>
</div>

