.box {
    box-shadow: 5px 5px 5px #D7D7D7;
    border: 2px solid #EAEAEA;
}

.box-img {
    box-shadow: 5px 5px 5px #D7D7D7;
    border-top: 3px solid #FFFFFF !important;
}

.img-box {
    width: 100%;
    max-width: 450px;
}

.box-header h2 {
    margin-top: 0px;
}

.box-header h1 {
    margin-top: 0px;
}

.box-header h3 {
    margin-top: 0px;
}

.box-header h4 {
    margin-top: 0px;
}

.box-header h3 {
    margin-top: 0px;
}

.box-header h5 {
    margin-top: 0px;
}

.my_size_checkbox {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    cursor: pointer;
    margin-right: 5px !important;
}

.my_div_size_checkbox {
    display: -webkit-inline-box;
    padding-left: 20px;
}

.my_product_image {
    height: inherit !important;
    width: auto !important;
    height: 100px;
    width: 100px;
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-left: 0px !important;
    padding-top: 5px;
}

.my_div_product_image {
    height: 100px;
    display: inherit;
}

.my_div_products_banner {
}

.my_img_products_banner {
    width: 100%;
}

.my_home_sanpham_simple_img {
}

.my_home_sanpham_simple_div {
    display: flex;
    align-items: center;
}

.home_brand_div_cover_prodcut_image {
    height: 370px;
    display: flex;
    align-items: center;
}

.product-image-wrapper:hover{

}

.my_header_menu_li{

}