
@{
    ViewBag.Title = "Hoàn thành đặt hàng";
}

<div class="box box-success">
    <div class="box-header">
        <h3>Đơn hàng đã được đặt</h3>
    </div>

    <div class="box-body">
        <p>Cám ơn bạn đã tin dùng và đặt hàng tại cửa hàng. Mã số đơn hàng của bạn là: @ViewBag.ID</p>
    </div>
    <div class="box-footer">
        <a href="../../home" class="btn btn-success">Trở về trang chủ</a>
    </div>
</div>

