@model doma.Controllers.SanPhamReturn

@{
    doma.Models.ProjectDMEntities db = new doma.Models.ProjectDMEntities();
    ViewBag.Title = Model.Ten;
    List<doma.Models.BoSanPham> listrelate = db.BoSanPhams.ToList();
    int id_item = Model.ID;
}
<script src="~/scripts/my_js/home/home_sanpham_controller.js"></script>

<div class="box box-info" ng-controller="home_bosanpham_controller" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <div class="box-body row">
        <div class="col-sm-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="text-align:center;">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" ng-repeat="img in slide" data-slide-to="{{img.number}}" ng-class="img.number == 1? 'active': ''"></li>
                </ol>
                <div class="carousel-inner" style="text-align: center; max-height: 450px;">
                    <div ng-class="img.number == 0? 'item active': 'item'" ng-repeat="img in imgs track by img.number">
                        <img ng-src="{{img.link}}" style="cursor: -webkit-zoom-in; max-height: 450px; width: auto; display: block; margin-left: auto; margin-right: auto;" ng-click="showimage(img.link)">
                        <div class="carousel-caption">
                            {{img.caption}}
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
                <small>Chọn vào hình để phóng to</small>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>@Model.Ten</h3>
            <p>Mô tả</p>
            <h4 style="color:red;">Đơn giá: {{price | number}} VNĐ</h4>
            <span>
                Số lượng:
                <input type="number" class="form-control ng-pristine ng-untouched ng-valid" ng-model="soluong">
            </span>
           
            
            <br />
            <a class="btn btn-success" ng-click="themvaogiohang()">Thêm vào giỏ hàng</a>
        </div>
    </div>
</div>

<h4>
    Xem thêm: Bộ sản phẩm chứa sản phẩm trên
</h4>
<script src="~/scripts/my_js/home/relativeobjcet_controller.js"></script>
<div ng-controller="relatedObject_controller" ng-init="init(@id_item, false)">
    <div class="col-sm-2" ng-repeat="item in items">
        <div class="box box-img" style="max-width:300px; cursor:pointer;" ng-click="xemsanpham(item.hreft)">
            <div class="box-body">
                <img ng-src="{{item.img}}" class="img-box" />
            </div>
            <div class="box-footer" style="text-align:center;">
                <strong>{{item.name}}</strong>
            </div>
        </div>
    </div>
</div>